<div id="header">
<font id="title">コロナビ</font>
<div id="header-right">
<% if current_user %>
    <%= session[:login_uname] %>さん
    <%= link_to 'ログアウト', top_logout_path %>
<% else %>
    <%= link_to 'ログイン', top_login_form_path %>
    または
    <%= link_to 'ユーザ登録', new_user_path  %>
<% end %>
</div>
</div>

<div class="box1">
<%= form_tag(search_path, method: "get") do %>
     エリア
    <p>
      <%= select :prefecture, {}, Ride.ride_areas.keys,{ selected: @ride } %><br>
    </p>
  対策項目
  <p>
  <%= check_box :checklist, "eval1", { checked: params[:checklist].values[0] == "1" }%>体温検査の実施
  </p>
  <p>
  <%= check_box :checklist, "eval2", { checked: params[:checklist].values[1] == "1" }%>消毒液の設置 
  </p>
  <p>
  <%= check_box :checklist, "eval3", { checked: params[:checklist].values[2] == "1" }%>マスク着用の必要 
  </p>
  <p>
  <%= check_box :checklist, "eval4", { checked: params[:checklist].values[3] == "1" }%>個室・しきりがある 
  </p>
  <p>
  <%= check_box :checklist, "eval5", { checked: params[:checklist].values[4] == "1" }%>非接触型決済ツール
  </p>
<%= submit_tag "検索" %>
</p>
<% end %>
</div>

<h1>店舗一覧</h1>
<% @stores.each do |s| %>
  <p>
      店名: <%= s.sname %><br>
      住所: <%= s.addr1 %><%= s.addr2 %><%= s.addr3 %><br>
      電話番号: <%= s.tel %><br>
      営業時間: <%= s.open %>~<%= s.close %><br>
      コロナ対策（1：対策あり、0：対策なし）<br>
      体温検査: <%= s.eval1 %><br>
      消毒液の設置: <%= s.eval2 %><br>
      マスク着用: <%= s.eval3 %><br>
      個室・しきり: <%= s.eval4 %><br>
      非接触型決済: <%= s.eval5 %><br>
<% if current_user %>
      <%= link_to '編集', edit_store_path(s) %>
      <%= link_to '削除', store_path(s), method: :delete %>
      <%= link_to 'お店の評価をする', new_eval_path %>
<% end %></h1>
  </p>

<% end %>

  <% @evals.each do |e| %>
    <div class="row posts">
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <h4 class="mb-3">評価：<%= e.ceval %>点 | <%= e.cmt %></h4>

         <div id="star-rate-<%= e.id %>"></div>
          <script>
          $('#star-rate-<%= e.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= e.ceval %>
          });
          </script> 
          <%= link_to '編集', edit_eval_path(e) %>
          <%= link_to '削除', eval_path(e), method: :delete %>
        </div>
      </div>
    </div>
<% end %>
<hr>
<% if current_user %>
<%= link_to 'お店を追加する', new_store_path  %>
<% end %>
