<h1>コロナビ</h1>

<%= link_to 'ユーザ登録', new_user_path  %>
<%= link_to 'お店を追加する', new_store_path  %>

<% @stores.each do |s| %>
  <p>
      <%= s.sname %>
      <%= s.addr %>
      <%= s.tel %>
      <%= s.open %>
      <%= s.eval1 %>
      <%= s.eval2 %>
      <%= s.eval3 %>
      <%= s.eval4 %>
      <%= s.eval5 %>
      <%= link_to '編集', edit_store_path(s) %>
      <%= link_to '削除', store_path(s), method: :delete %>
  </p>
<% end %>