<h1>コロナビ(ログインID: <%= session[:login_uname] %>)</h1>


<h1>ユーザ一覧</h1>
<% @users.each do |u| %>
      uname: <%= u.uname %> / 
      pass: <%= u.pass %>
      <%= link_to '編集', edit_user_path(u) %>
      <%= link_to '削除', user_path(u), method: :delete %><br>
<% end %>
==========================<br>
<%= link_to 'ユーザ登録', new_user_path  %>

<h1>店舗一覧</h1>
<% @stores.each do |s| %>
  <p>
      sname: <%= s.sname %><br>
      addr: <%= s.addr %><br>
      tel: <%= s.tel %><br>
      open: <%= s.open %><br>
      eval1: <%= s.eval1 %><br>
      eval2: <%= s.eval2 %><br>
      eval3: <%= s.eval3 %><br>
      eval4: <%= s.eval4 %><br>
      eval5: <%= s.eval5 %><br>
      <%= link_to '編集', edit_store_path(s) %>
      <%= link_to '削除', store_path(s), method: :delete %>
      <%= link_to 'お店の評価をする', new_eval_path %>
  </p>
<% end %>

  <% @evals.each do |e| %>
    <div class="row posts">
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <h4 class="mb-3">評価：<%= e.ceval %>点 | <%= e.cmt %></h4>

         <div id="star-rate-<%= e.id %>"></div>
          <script>
          $('#star-rate-<%= e.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            readOnly: true,
            score: <%= e.ceval %>,
          });
          </script>  
        </div>
      </div>
    </div>
<% end %>
==========================<br>
<%= link_to 'お店を追加する', new_store_path  %>


<% if current_user %>
    <%= link_to 'ログアウト', top_logout_path %>
<% else %>
    <%= link_to 'ログイン', top_login_form_path %>
<% end %>
