<h1>コロナビ(ログインID: <%= session[:login_uname] %>)</h1>


<h1>ユーザ一覧</h1>
<% @users.each do |u| %>
  <p>
    <br>
      uname: <%= u.uname %> / 
      pass: <%= u.pass %><br>
    ------------------------
  </p>
<% end %>
==========================
<%= link_to 'ユーザ登録', new_user_path  %>

<h1>店舗一覧</h1>
<% @stores.each do |s| %>
  <p>
      <%= s.sname %>
      <%= s.addr %>
      <%= s.tel %>
      <%= s.open %>
      <%= s.eval1 %>
      <%= s.eval2 %>
      <%= s.eval3 %>
      <%= s.eval4 %>
      <%= s.eval5 %>
      <%= link_to '編集', edit_store_path(s) %>
      <%= link_to '削除', store_path(s), method: :delete %>
  </p>
<% end %>
==========================
<%= link_to 'お店を追加する', new_store_path  %>


<% if current_user %>
    <%= link_to 'ログアウト', top_logout_path %>
<% else %>
    <%= link_to 'ログイン', top_login_form_path %>
<% end %>
