<%= form_for @store, url: {action: :update} do |f| %>
<p>
    <%= s.label :sname, "店名" %>
    <%= s.text_field :sname %>
    <%= s.label :addr, "住所" %>
    <%= s.text_field :addr %>
    <%= s.label :tel, "電話番号" %>
    <%= s.text_field :tel %>
    <%= s.label :open, "営業時間" %>
    <%= s.text_field :open %>
 </p>
 <p>
    <%= f.submit '更新' %>
 </p>
<% end %>