<お店情報登録>

<%= form_for @store, url: {action: : create} do |s| %>
  <p>
      <%= s.label :sname, "店名" %>
      <%= s.text_field :sname %>
      <%= s.label :addr, "住所" %>
      <%= s.text_field :addr %>
      <%= s.label :tel, "電話番号" %>
      <%= s.text_field :tel %>
      <%= s.label :open, "営業時間" %>
      <%= s.text_field :open %>
  </p>
  <p>
      <%= s.submit '登録' %>
  </p>
<% end %>