<h1>新規登録</h1>

<%= form_for @user, url: {action: :create} do |f| %>
<p>  
    <%= f.label :uname, 'ユーザーID' %>
    <%= f.text_field :uname %></p>
<p>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %></p>
<p>
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation %></p>
<p>

    <%= f.submit '登録' %>
</p>
<% end %>
<p>
登録済みの方は
<%= link_to 'ログイン', top_login_form_path %>
</p>